@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import "tailwindcss";

@theme {
    --color-background: #E5E1D8;
    --color-primary: #171717;
    --color-secondary: #77746D;
    --font-plus: "Plus Jakarta Sans", sans-serif;
    --color-card-background: #FBFAF7;
    --color-card-border: #DDD9D0;
    --color-card-border-hover: #A9A49A;
}

